[project]
	description = The simplest game for the practice of programming in Java
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dima (dmitmedv)
[access "refs/for/refs/*"]
	read = group user/Dima (dmitmedv)
	push = group user/Dima (dmitmedv)
	label-Code-Review = -2..+2 group user/Dima (dmitmedv)
	label-Verified = -1..+1 group user/Dima (dmitmedv)
	rebase = group user/Dima (dmitmedv)
	removeReviewer = group user/Dima (dmitmedv)
	submit = group user/Dima (dmitmedv)
[access "refs/heads/*"]
	read = group user/Dima (dmitmedv)
	create = group user/Dima (dmitmedv)
	push = +force group user/Dima (dmitmedv)
	pushMerge = group user/Dima (dmitmedv)
[access "refs/tags/*"]
	push = +force group user/Dima (dmitmedv)
	pushTag = group user/Dima (dmitmedv)
	pushSignedTag = group user/Dima (dmitmedv)
